[Unit]
Description=Taskium Server

[Service]
WorkingDirectory=/home/castello/taskium
Environment="TASKIUM_STORAGE_ROOT=/mnt/factory"
PassEnvironment=TASKIUM_STORAGE_ROOT
User=castello
Group=sudo
ExecStart=/home/castello/taskium/taskium.server
Restart=always

[Install]
WantedBy=multi-user.target
